.footer {
  width: 100%;
  position: relative;
  z-index: 111;
  padding: 1rem 0;
  border-top: 1px solid rgba(105, 104, 104, 0.493);
}

.footer_container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.footer_nft_detail_details p {
  font-size: 14px;
}
.footer_nft_detail_social_icons {
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.footer_same h5 {
  padding-left: 1rem;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.footer_subscribe h5 {
  padding-left: 1rem;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.footer_send_mail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  border-radius: 5rem;
  margin-top: 3rem;
}

.footer_send_mail input {
  border: none;
  outline: none;
  width: 90%;
  color: var(--shadow-dark-color);
  background-color: transparent;
}

.footer_send_mail input::placeholder {
  color: var(--shadow-dark-color);
  font-size: 1.3rem;
  text-transform: capitalize;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer_container {
    grid-template-columns: 1fr;
  }
}
